<ion-header>
  <ion-toolbar>
    <ion-title>
      DEMO SLIDES
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-slides>

    <ion-slide>
      <ion-img src="https://cdn.pixabay.com/photo/2019/09/22/18/12/wolf-4496659_960_720.jpg">
      </ion-img>

    </ion-slide>

    <ion-slide>
      <ion-img src="https://cdn.pixabay.com/photo/2019/11/07/22/41/waterfall-4610084_960_720.jpg">
      </ion-img>

    </ion-slide>

    <ion-slide>
      <ion-img src="https://cdn.pixabay.com/photo/2019/11/18/00/38/brown-and-white-dog-4633734_960_720.jpg">
      </ion-img>

    </ion-slide>

  </ion-slides>
</ion-content>